body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  margin: 0;
}

#log {
  --_background-color: black;
  --_padding: 1rem;
  width: clamp(1px, 100%, 80dvw);
  color: white;
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  margin: 3rem auto;
}

.log__wrapper {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
  white-space: pre-wrap;
  background: var(--_background-color);
  overflow-y: scroll;
  color: white;
  padding: 1em;
}

.log__title {
  font-size: 1rem;
  margin: 0;
  margin-inline: calc(var(--_padding) * -1);
  padding-block: var(--_padding);
  background: rgba(255,255,255, .1);
  color: var(_background-color);
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  z-index: 10;
  backdrop-filter: blur(1px);
}
